<div class="container" id="login">
	<div class="row">

		<h3>Login</h3>
		<p>Welcome back to Sess!</p>

		<%= form_for @user, url: "/sessions", method: "post" do |f| %>
		  <div>
		    <%= f.text_field :email, placeholder: "Email", :class => "field" %>
		  </div>
		  <div>
		    <%= f.password_field :password, placeholder: "Password", :class => "field" %>
		  </div>
		  <br>
		  <%= f.submit "Log In", :class => "btn btn-outline-primary" %>
		<% end %>

	</div>
</div>