<div class="container">
	<div class="row">
		<h1>Sess</h1>
	</div>
</div>


<div class="container">
	<div class="row">
		<h3>Who We Are</h3>
	</div>
</div>


<div class="container">
	<div class="row">
		<h3>Music Lovers</h3>
	</div>
</div>


<div class="container">
	<div class="row">
		<h3>Storytellers</h3>
	</div>
</div>


<div class="container">
	<div class="row">
		<h3>Friends</h3>
	</div>
</div>


<div class="container">
	<div class="row">
		<h3>Footer</h3>
	</div>
</div>