<div class="container" id="jumbotron">
	<div class="row">
		<div id="vinyl"><%= image_tag("sess.png") %></div>
		<p class="logo">Sess</p>	
	</div>
</div>


<div class="container" id="who_div">
	<div class="row">
		<p class="who_title">Who We Are</p>
	</div>
</div>

<div class="container" id="title_1">
	<div class="row">
		<p class="title">Music Lovers</p>
	</div>
</div>


<div class="container" id="title_2">
	<div class="row">
		<p class="title">Storytellers</h3>
	</div>
</div>


<div class="container" id="title_3">
	<div class="row">
		<p class="title">Friends</p>
	</div>
</div>


<div class="container" id="footer">
	<div class="footer">
		<div class="row">
			<div class="col-md-6">
				<h3>Sess</h3>
				<p>The definitive Listening Session app</p>
			</div>
		</div>
		<div class="copyright">
			&copy; Sess 2018
		</div>
		
	</div>
</div>