<div class="container">
	<div class="row">
		<div class="col-md-12">
			 <h1><%= @user.first_name %> <%= @user.last_name %></h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= render "tracks/tracklist" %>
		</div>
		<div class="col-md-6">
			<%= render "events/eventlist" %>
		</div>
	</div>
</div>
<br>
<br>
<br>
<div class="container" id="footer">
	<div class="footer">
		<div class="row">
			<div class="col-md-6">
				<h3>About Sess</h3>
				<p>Listening Session App</p>
			</div>
		</div>
		<div class="copyright">
			&copy; Sess 2018
		</div>
		
	</div>
</div>




