<h1>Profile</h1>
<div>
  Welcome, <%= @user.first_name %>!
</div>
<br>
  	<%= link_to '<button type="button">Add Track</button>'.html_safe, new_track_path %>
<br>
<%= render "tracks/tracklist" %>
<br>
