<h2>Upcoming Events:</h2>

<% @events.each do |event| %>
  <br>
  	<p>Date: <%= event.date %></p>
    <p>Time: <%= event.time %></p>
    <p>Address: <%= event.address %></p>
    <p>Host: <%= event.host %></p>
  <br>
<% end %>