<div class="container">
  <div class="row">
  
    <h3>Session Details:</h3>

    <h4>Date:</h4><%= @event.date.strftime("%A, %B %d, %Y") %>
    <h4>Time:</h4><%= @event.time.strftime("%l:%M %P") %>
    <p><h4>Address:</h4><%= @event.address %></p>
    <p><h4>Host:</h4><%= @event.host %></p>
    
  </div>
</div>
