/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* BODY */

body {

}

/* LAYOUT */

#nav {
	background-color: #AE8AED;
	padding-bottom: 1%;

	.time {
		padding-bottom: 3%;
		font-family: 'Quicksand', sans-serif;
		font-size: 15px;
	}

	#nav_buttons {
		float: right;
		text-align: left;
		color: white;
		padding-right: 2%;
		padding-top: 1%;
		font-family: 'Quicksand', sans-serif;
		font-size: 15px;
	}

	.btn {
		background-color: white;
		color: #AE8AED;
		font-family: 'Pacifico', cursive;
		font-size: 16px;
	}
}

/* HOMEPAGE */

#jumbotron {

	.logo {
		font-family: 'Pacifico', cursive;
		padding-top: 5%;
		padding-left: 5%;
		color: #AE8AED;
		font-size: 60px;
	}
	.row {
		padding-bottom: 40%;
	}
	background: url(/assets/eric-nopanen-208576.jpg) no-repeat center center;
	background-size: 105%;
}

#who_div {
	.row {
		padding-top: 2%;
		padding-bottom: 2%;
	}

	.who_title {
		font-family: 'Quicksand', sans-serif;
		font-size: 40px;
		text-align: center;
	}
}

#title_1 {

	.row {
		padding-bottom: 40%;
	}

	.title {
		font-family: 'Pacifico', cursive;
		color: white;
		font-size: 50px;
		padding-left: 5%;
		padding-top: 2%;
	}

	background: url(/assets/paulette-wooten-223050.jpg) no-repeat center center;
	background-size: 105%;
}

#title_2 {

	.row {
		padding-bottom: 40%;
	}

	.title {
		font-family: 'Pacifico', cursive;
		color: white;
		font-size: 50px;
		padding-right: 5%;
		padding-top: 2%;
		float: right;
	}
	
	background: url(/assets/cristina-gottardi-224975.jpg) no-repeat center center;
	background-size: 105%;
}

#title_3 {

	.row {
		padding-bottom: 40%;
	}

	.title {
		font-family: 'Pacifico', cursive;
		color: white;
		font-size: 50px;
		padding-left: 5%;
		padding-top: 2%;
	}
	
	background: url(/assets/rawpixel-com-196464.jpg) no-repeat center center;
	background-size: 105%;
}

#footer {
	
	.row {
		font-family: 'Pacifico', cursive;

		p {
			font-family: 'Quicksand', sans-serif;
		}
	}
	.copyright {
		font-family: 'Quicksand', sans-serif;
	}

	background-color: #AE8AED;
	padding-bottom: 3%;
}

/* LOGIN */

#login {
	text-align: center;
	background: url(/assets/james-stamler-153487.jpg) no-repeat center center;
	background-size: 150%;
	padding-bottom: 40%;
	padding-top: 2%;
	
	.field {
		width: 30%;
		font-family: 'Quicksand', sans-serif;
	}
	
	h3 {
		font-family: 'Pacifico', cursive;
		color: white;
		font-size: 30px
	}

	p {
		font-family: 'Quicksand', sans-serif;
		color: white;
	}

	.btn {
		background-color: white;
		color: #AE8AED;
		font-family: 'Pacifico', cursive;
		font-size: 20px;
	}
}

/* ACCOUNT SIGN UP */

#signup {
	text-align: center;
	background: url(/assets/corey-blaz-5003.jpg) no-repeat center center;
	background-size: 150%;
	padding-bottom: 40%;
	padding-top: 2%;

	h3 {
		font-family: 'Pacifico', cursive;
		color: white;
		font-size: 30px
	}

	.field {
		width: 30%;
		font-family: 'Quicksand', sans-serif;
	}

	.btn {
		background-color: white;
		color: #AE8AED;
		font-family: 'Pacifico', cursive;
		font-size: 20px;
	}
	
}

/* PROFILE */
h1 {
	font-family: 'Pacifico', cursive;
	color: #AE8AED;		
}

/* TRACK LIST */
#tracklist {
	padding-left: 10%;
	
	.btn {
		background-color: white;
		color: #AE8AED;
		font-family: 'Pacifico', cursive;
		font-size: 15px;
		border: solid #AE8AED;
	}


	h3 {
		font-family: 'Quicksand', sans-serif;
		color: #AE8AED;
	}

	h4 {
		font-family: 'Quicksand', sans-serif;
		color: #AE8AED;
	}
}

